* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html, body {
    overflow-x: hidden;
  }
  /* #back, .background {
    overflow: hidden;
  } */

  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: #000000;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  
  .logos a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .pushable {
    background: hsla(127, 84%, 50%, 0.871);
    border-radius: 5px;
    /* border: 2px solid yellow; */
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    background: hsl(127, 84%, 50%);
    color: white;
    transform: translateY(-5px);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
  }
  /* header */
  #NAVBAR1 {
    padding-block: 15px;
    margin-top: 60px;
    z-index: 1000;
    position: fixed;
    background-color: transparent;
    width: 100%;
    border-bottom: solid 1px white;
    transition: background-color 0.3s ease;
  }
   .scrolled #NAVBAR1 {
    background-color: black;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .navbar-nav {
    margin-left: 20%;
    font-weight: 800;
    gap: 16px;
  }
  .navbarIcon {
    display: contents;
    margin-left: 5%;
  }
  .navbarIcon i,
  .navbarIcon button {
    display: inline-block;
    vertical-align: middle;
  }
  .dropdown-menu:hover{
    background-color: #007bff;
}
  .quote {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 19px;
    cursor: pointer;
    color: white;
    transition: all 1s;
  }
  
  .quote:hover {
    color: royalblue;
    background-color: white;
  }
  
  .main-nav {
    /* position: relative; */
    filter: brightness(80%);
    padding-top: 20%;
    padding-bottom: 8%;
    background-image: url("BlogpageImage/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .mainHeading {
    max-height: 60px; 
    overflow: hidden;
}
  .main-nav-heading1 {
    overflow: hidden;
    margin-top: -3%;
    font-size: 50px;
    font-weight: 800;
    color: yellowgreen;
    margin-left: 10%;
  }
  .main-nav-heading2 {
    font-size: 25px;
    margin-left: 10%;
  }
  .fa-envelope-open,
  .fa-user {
    padding-top: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid white;
  }
  .grid-container{
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
.text-contents{
    margin-bottom: 30px;
}
.grid-heading{
    border: 1px solid #e9f0fb;
    border-bottom: none;
    padding: 30px;
    padding-bottom: 0;
}
.grid-heading h3{
    font-size: 23px;
    line-height: 32px;
    font-weight: 800;
    color: #222222;
    margin-bottom: 15px;
}
.grid-heading p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #72839a;
}
.image{
    margin-top: 22px;
}
.image img{
    width: 100%;
}
.grids-name{
    text-align: center;
    border: 1px solid #e9f0fb;
    border-top: none;
    padding: 18px 0;
}
.grids-name ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.grids-name ul li:first-child{
    margin-right: 30px;
}
.grids-name ul li {
    display: inline-block;
    color: #72839a;
    font-weight: 500;
    font-size: 15px;
}
/* pagination */
.Pagination {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-number:hover {
  background: -webkit-linear-gradient(21deg, #005cea 0%, #00c5fb 100%);
  color: #fff;
}

.page-number {
 display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 16px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.page-number-02 {
  background: #005cea;
  color: #fff;
}
#back{
  margin-top: 3rem;
}
.background {
  background-image: url("BlogpageImage/phone.png");
  background-size: 400px;
  background-color: rgba(0, 0, 255, 0.726);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneflex-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.phoneflex-box2 {
  margin: 10px;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  /* max-width: 400px; */
}
.phoneflex-box1 {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
}
.phoneflex-box1 p {
  color: white;
  font-size: 19px;
}
.phoneflex-box2 h1 {
  padding-top: 15px;
  font-weight: 800;
  color: white;
  text-align: start;
  font-size: 2.9rem;
}
.contact {
  padding: 15px 35px;
  font-size: 18px;
  color: blue;
  border: none;
  background-color: white;
  border-radius: 5px;
}
.contact:hover {
  background-color: rgba(0, 255, 255, 0.796);
  color: white;
}
.call {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: orange;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.call:hover {
  background-color: transparent;
  border: 1px solid orange;
}

@media (max-width: 768px) {
  .phoneflex-container {
    flex-direction: row;
  }
  .phoneflex-box2 {
    display: none;
  }
  .phoneflex-box1 {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
  } 
  
  .phoneflex-box2 {
    margin: 10px;
  }
}
/* footer-section */
#footers {
  position: relative;
  background-size: cover;
  padding-top: 2.4%;
  padding-bottom: 5%;
  background-position: center;
  background-repeat: no-repeat;
}
#footers::before {
  content: "";
  background-image: url("BlogpageImage/footer.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}

.Footer h2 {
  font-size: 20px;
  font-weight: 700;
}
.Footer p {
  color: #72839a;
  text-align: start;
  font-weight: 600;
}
.footer-sub-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 100px;
  padding-top: 20px;
}

.sub-footer {
  line-height: 30px;
  text-align: left;
  width: 30%;
}

.sub-footer h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.sub-footer ul {
  color: #72839a;
  list-style: none;
  padding-top: 20px;
}

.sub-footer ul li {
  color: blueviolet;
  font-size: 16px;
  margin-top: 2%;
}
.sub-footer ul li a:hover {
  color: blue;
}
.sub-footer a {
  color: #72839a;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-sub-footer {
    flex-direction: column;
    align-items: center;
  }

  .sub-footer {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
}

.social {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.left {
  font-size: 16px;
  flex: 1;
  color: #72839a;
}

.right {
  display: flex;
  gap: 10px;
}

.right a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.right a i {
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.right a:hover i {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 300px) {
  .social {
    overflow-x: hidden;
  }
}