@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: #000000;
  height: 60px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}

.pushable {
  background: hsla(127, 84%, 50%, 0.871);
  border-radius: 5px;
  /* border: 2px solid yellow; */
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  background: hsl(127, 84%, 50%);
  color: white;
  transform: translateY(-5px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
.container-head {
  background: url("solution-image/globmap.png") center/cover no-repeat fixed;
  background-color: #1218200d;
  height: 70vh;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 25px;
}

.nav-links li {
  margin-right: 20px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
}
.nav-links :hover {
  color: orange;
}

/* Style the dropdown menu */
.dropdown-content {
  list-style: none;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content li a {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px;
}

/* main */
.bcontainer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.uldiv {
  display: flex;
  gap: 20px;
}
.uldiv li {
  list-style: none;
}
.uldiv a {
  text-decoration: none;
  color: black;
}
.divul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.divul h2 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 1060px) {
  .nav-links {
    display: none;
  }

  .logo img {
    margin-right: 0;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    z-index: 1;
  }

  .nav-links.active li {
    margin: 10px 0;
  }

  .dropdown-content {
    position: static;
    display: none;
    background-color: #333;
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }
}
/* get-in-touch */
.touch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px;
}

.column-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 15px;

    
}
.micro img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
.column-right{

}
.get{
    background-color: white;
    padding-inline: 60px;
    padding-block: 20px;
    border-radius: 30px;
    border: 2px solid #f57c00;
}
@media (max-width: 768px) {
    .column-left {
        max-width: 100%;
    }
}
/* hero-section */
.Consulting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: auto;
    margin-bottom: 90px;
}
/* machine */
.machine-section1{

    background-color: rgba(128, 128, 128, 0.162);
}
.machine-section{
    width: 90%;
    margin: auto;
}
.machine-icon{
    display: flex;
    gap: 20px;
}
.machine{
    display: flex;
    gap: 10px;
}
.left-machine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}
.right-machine img{
    background-color: #f57c00;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}
 
.machine-learning {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    flex: 1;
    text-align: center;
    padding: 30px;
    border-top: 2px solid grey; 
    transition: all 0.3s ease;
}

.box:hover {
    border-top-color: #f57c00; 
    background-color: white;
}

.box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
@media (max-width: 768px) {
    .machine {
        flex-direction: column;
    }

    .left-machine, .right-machine {
        text-align: center;
    }

    .right-machine img {
        max-width: 100%;
    }

    .box {
        flex-basis: 100%;
    }
}
/* artificial */
.artificial {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* padding: 20px; */
}

.flexbox1 {
    display: flex;
    background-color:#121820fe;
    width: 50%;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 120px;
    flex-direction: column;
    gap: 80px;

}
.para{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flexbox2 {
width: 50%;
/* background-image: url("solution-image/lap.jpg") ; */
   
}
.flexbox2 img{
    width: 759px;
    height: 600px;
}
@media (max-width: 768px) {
    .artificial {
        flex-direction: column;
    }

    .flexbox1 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .para {
        gap: 10px;
    }

    .flexbox2 {
        width: 100%;
    }

    .flexbox2 img {
        width: 100%;
        height: auto;
    }
}
/* consult */
.ai-consult{
    width: 90%;
    margin: auto;
    padding-block: 30px;
}
.AI{
    display: flex;
    padding-block: 30px;
}
.ai1{
    width: 50%;
}
.ai2{
    display: flex;
    float: right;
    align-items: flex-end;
    padding-left: 550px;
}
/* card */
.card-section {


    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    width: 33%;
    height: 300px;


    
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    border-color: #f57c00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 2rem;
}

.card-content h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card-content p {
    font-size: 1rem;
    color: #777;
}
@media (max-width: 768px) {
    .AI {
        flex-direction: column;
        text-align: center;
    }

    .ai2 {
        justify-content: center;
        padding-left: 0;
    }

    .card {
        flex-basis: calc(50% - 20px);
    }
}
/* security */
.security{
    padding-block: 120px;
    background-color: #121820;
}
.shield{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.grid-container {
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.grid-item {
    height: 112%;
    box-shadow: 0 0 0 1px rgba(18,24,32,.1);
    color: black;
    padding: 20px;
    text-align: center;
    transition: .4s cubic-bezier(0, 0, .3642, 1);
}

.grid-item:hover {
    border: none;
    background-color: white;
    transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.h-last{
    color: #ccc;
    margin-left: 5%;
}
.h-last1{
    color:black;
    margin-left: 5%;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}
/* sub-footer */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
  }
  
  .footer {
    background-image: url("solution-image/globmap.png");
    background-color: #121820;
  }
  
  .box-1 {
    flex: 1;
  
    color: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .box-2 {
    flex: 1;
  
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-button {
    background-color: #f57c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-button:hover {
    background-color: #2980b9;
  }
  
  @media screen and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  
    .box-1,
    .box-2 {
      flex: 1;
      margin: 10px 0;
    }
  }
  /* footer */
  .flex-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .flex-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    background-color: #121820;
    color: #fff;
  }
  
  .box {
    display: flex;
    flex-direction: column;
  
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    flex: 1;
    padding: 20px;
    margin: 10px;
  }
  .column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social-box ul {
    list-style: none;
  }
  
  .social-box ul li::before {
    content: "\2023";
    color: #f57c00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .container003 {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-text {
    margin-right: 10px;
  }
  
  .right-text {
    margin-left: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .flex-container-2 {
      flex-direction: column;
    }
  }
  
